<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ProAction</a>
      <a class="navbar-brand"><img src="logo.jpg" width="50" height="25"></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">SignUp</a></li>
      <li><a href="#">SignIn</a></li>
      <li><a href="#">Tickets</a></li>
    </ul>
  </div>
</nav>
  
<div class="container" style="margin-top:50px">
  <div class="row">

    <div class="col-sm-6">
      <h1>element1</h1>
    </div>
    <div class="col-sm-3">
      <h1>element1</h1>
    </div>
    <div class="col-sm-3">
      <h1>element1</h1>
    </div>
  </div>

</div>

</body>
</html>
